/*@import url('global.css');*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    --background-color: #191A19; 
    --green-color: #44CC44;
    --green-light-color: #CEDEBD;
    --yellow-color: #FFCA03;
    --white-color: #FFFFFF;
    --color-gray: #B2B2B2;
}

body{
    text-align: center;
}

.main{
    background-color: var(--background-color);
    
    width: 304px;
    margin: 32px auto 0;
    padding: 16px 0;
    border: none;
    border-radius: 10px;
}

.main img{
    width: 150px;
    object-fit: contain;
}

#login-form{
    margin: 0 auto;
    padding: 1rem;
    width: 300px;

    text-align: center;
}

#login-form fieldset{
    padding: 1rem;
}

#login-form label{
    display: flex;
    flex-direction: row;

    padding: 0.75rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#login-form input{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;

    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    outline: none;
    width: 90%;
}

::-webkit-input-placeholder{ 
    color: var(--color-gray); 
}

::-moz-placeholder{
    color: var(--color-gray); 
}

#login-form input[type="checkbox"]{
    color: var(--color-green-light);
    font-size: 12px;

    display: flex;
    justify-content: left;
    align-items: center;
    gap: 5px;
}

#login-form button{
    font-family: 'Poppins', sans-serif;
    font-size: 1rem;
    font-weight: 600;

    padding: 0.8rem 2rem;

    background-color: var(--green-color);
    color: var(--white-color);
    opacity: 1;
    border: none;
    border-radius: 10px;
}

#login-form button:hover{
    scale: 1.1;
}

body #forgot-passwd{
    color: var(--yellow-color);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

body #forgot-passwd:hover{
    text-decoration: underline;
}
