/*@import url('global.css');*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;

    --background-color: #191A19; 
    --green-color: #44CC44;
    --green-light-color: #CBFFA9;
    --yellow-color: #FFCA03;
    --white-color: #FFFFFF;
    --color-gray: #B2B2B2;
    --color-orange: #FF5403;
    --color-red: #F90716;
   
}

body{
    text-align: center;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
    overflow: hidden;

    background-image: linear-gradient(45deg, var(--yellow-color), var(--color-orange), var(--color-red));
    background-repeat: no-repeat;
    background-size: cover;

    background-color: var(--color-orange-gradient);
}

.main{
    background-color: var(--background-color);
    
    width: 300px;
    margin: 32px auto 0;
    padding: 16px 0;
    border: none;
    border-radius: 10px;
}


.main img{
    width: 170px;
    object-fit: cover;
}

#login-form{
    margin: 0 auto;
    width: 300px;
    padding: 0 32px;
}

#login-form #data{
    padding: 0.5rem 0;
    width: 234px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#login-form #data label{
    padding: 1rem 0;
}

#login-form #data input{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;

    width: 234px;

    padding: 0.8rem;
    border: none;
    border-radius: 10px;
    outline: none;
}

::-webkit-input-placeholder{ 
    color: var(--color-gray); 
}

::-moz-placeholder{
    color: var(--color-gray); 
}

#login-form #remember-checkbox{
    color: var(--green-light-color);
    font-size: 12px;

    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    gap: 8px;
}

#login-form input[type="checkbox"]{
    border: none;
    width: 15px;
    height: 15px;
}

#login-form button{
    font-family: 'Poppins', sans-serif;
    color: var(--white-color);
    font-size: 1rem;
    font-weight: 600;

    padding: 0.8rem 2rem;
    margin: 16px 0;
    border: none;
    border-radius: 10px;

    background-color: var(--green-color);
    
    opacity: 1; 
}

#login-form button:hover{
    scale: 1.1;
}

body #forgot-passwd{
    color: var(--yellow-color);
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
}

body #forgot-passwd:hover{
    text-decoration: underline;
}
